@import '@/styles/variables';

@function get-breakpoint-width($breakpoint-name) {
  @return map-get($grid-breakpoints, $breakpoint-name);
}

@mixin flex($x: flex-start, $y: flex-start, $direction: row, $gap: 0) {
  display: flex;
  justify-content: $y;
  align-items: $x;
  flex-direction: $direction;
  gap: $gap;
}
@mixin text-styles($size: 1rem, $weight: 400, $height: null) {
  font-size: $size;
  font-weight: $weight;
  @if $height {
    line-height: $height;
  }
}

@mixin set-property($value-list, $property) {
  @each $media-breakpoint, $value in $value-list {
    @media (min-width: get-breakpoint-width($media-breakpoint)) {
      #{$property}: $value;
    }
  }
}
