.bnma {
  width: 100%;
  height: 100%;
  position: absolute;
}

.box {
  position: relative;
  padding-bottom: 45%;
  border-radius: 24px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .box {
    padding-bottom: 55%;
  }
}
@media (max-width: 576px) {
  .box {
    padding-bottom: 65%;
  }
}
